.footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $footer-color;
  padding: 1em 3em;
  box-sizing: border-box;
}

.footer p {
  font-size: 1em;
  color: $font-color;
}

.footer a {
  color: $font-color;
  text-decoration: none;
}

.footer .social {
  font-size: 2rem;
}

.footer .social i {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }

  .footer p {
    font-size: 3em;
    text-align: center;
  }

  .footer .social i {
    font-size: 5em;
  }
}

