.header {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
  position: relative;
}

.header,
.nav {
  position: relative;
  z-index: 1;
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 80px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav ul li {
  margin: 0 10px;
}

.nav ul li a {
  text-decoration: none;
  color: inherit;
}

.nav ul li a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.nav-toggle {
  position: absolute;
  top: 10px; /* Adjust as necessary */
  right: 10px; /* Adjust as necessary */
  z-index: 1000; /* Ensure it is above other elements */
  display: none; /* Initially hidden for larger screens */
}

.image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: auto;
  z-index: 0;
  pointer-events: none;
}

.image-overlay img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.logo {
  width: 400px;
  height: auto;
  padding-top: 2em;
}

.title {
  padding: 3em 3em 3em 0;
}

.title p {
  font-style: italic;
  color: $font-color;
}

@media (max-width: 767px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1em;
  }

  .logo {
    width: 150px !important;
    height: auto !important;
    padding-top: 20px;
    margin-right: auto;
    margin-left: 1.5em;
  }

  .logo img {
    width: 100% !important;
    height: auto !important;
  }

  .title {
    min-width: 50%;
    padding: 1em 1em 1em 0;
  }
}

@media (max-width: 767px) {
  .nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    background: $background-alternative-color;
    font-size: 16px !important;
  }

  .nav ul li a:hover {
    font-weight: bold;
  }
}
